.App {
	margin: 20px auto;
	max-width: 1080px;
	padding: 0 25px;
}

.navigation {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.navigation a {
	color: black;
	font-size: 18px;
	padding-right: 40px;
	font-weight: 500;
}

.navigation a.Active {
	text-decoration: none;
	font-weight: 600;
}

.title {
	margin-top: 50px;
	text-align: center;
	font-size: 52px;
	font-weight: bolder;
}

.WeatherCard {
	margin: 30px 80px;
	border: 1.5px solid black;
	border-radius: 8px;
	padding: 0 30px;
}

.text {
	font-size: 18px;
}

.tempWrapper{
	display: flex;
	justify-content: space-around;
}

.weatherImageWrapper {
	display: flex;
	justify-content: center;
	font-size: 40px;
	padding-bottom: 20px;
	padding-top: 40px;
}

.currentTemp {
	margin: 0;
	text-align: center;
	font-size: 22px;
}

.currentTempNumber {
	margin: 0;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 40px;
}
