.App{
  margin: 30px auto;
  max-width: 1080px;
  padding: 0 25px;
}

.title{
  text-align: center;
  font-size:  48px;
  font-weight: bolder;
}

.WeatherCard{
  margin: 30px 100px;
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 0 30px;
}

.text{
  font-size: 20px;
}