.App {
	margin: 30px auto;
	max-width: 1080px;
	padding: 0 25px;
}

.nav {
	margin: 0 100px;
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.city {
	padding-right: 40px;
}

.title {
	text-align: center;
	font-size: 52px;
	font-weight: bolder;
}

.WeatherCard {
	margin: 30px 100px;
	border: 1.5px solid black;
	border-radius: 8px;
	padding: 0 30px;
}

.text {
	font-size: 18px;
}

.currentTemp {
	text-align: center;
	font-size: 22px;
}

.currentTempNumber {
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
}
